@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
<<<<<<< HEAD
  background-color: #000;
=======
  background-color: #000
>>>>>>> 4055f3e45de70a4e15f6045bae9390cdd4730542
}

.sort-bar{
margin-bottom: 50px;
text-align: left;
}

.sort-bar p{
  margin-left: 12px;
  color: white;
  width: 100px;
  cursor: default;
  font-size: 19px;
  font-weight: bold;
}

.sort-bar a{
  margin-left: 12px;
  margin-right: 50px;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;

}
.sort-bar a:hover {
color: #d97e13;
transition-delay:0,2s;
}

.sort-bar a.active {
  text-decoration-line: underline;
  color:#d97e13;
  font-weight:bold;
}

.sort-bar form{
  float:right;
  margin-right: 10px;
}

.sort-bar button{
  height: 31px;
}

.sort-bar input{
  height: 31px;
  width: 100px;
}

.landingspagina {
  background-image: url("img/Bitcoin-Emblem.png");
  background-repeat: no-repeat;
  background-position: center;
<<<<<<< HEAD
  background-size: contain;
  object-fit: contain;
  width: auto;
=======
  background-size: 1440px 810px;
  width: 1920px;
>>>>>>> 4055f3e45de70a4e15f6045bae9390cdd4730542
  height: 1080px;
}
.introhead1{
  text-align: center;
  padding-top: 350px;
  margin: auto;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-weight:bold;
  color:white;
  font-size: 75px;
}
.introhead2{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight:bold;
  color:white;
  font-size: 35px;
}

.introtxt{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color:white;
    padding-left: 425px;
    padding-right: 425px;
  }

.table thead tr{
background-color: #d97e13;
text-align: left;
}

.table thead tr:last-of-type{
  border-bottom: 2px solid #d97e13;
}

.table th,
.table td{
  padding: 12px 15px;
}

.table tbody tr{
border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #222
}


.table tbody tr:last-of-type{
  border-bottom: 2px solid #d97e13;
}

.table{
  color:white;

}